*.o
*.d
*.crf
*.map
MDK-ARM/JLinkLog.txt
MDK-ARM/JLinkSettings.ini
MDK-ARM/LNPCbldc405/
*.uvguix.*
*.lst
*.TMP
MDK-ARM/hall_value.h
Hwconf/drv5053.h
Hwconf/drv5053.c
Control/hall_value.h
Control/hall_value.c
